body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.red, .blue, .yellow {
    width: 150px;
    height: 150px;
    position: relative;
}

.blue {
    background-color: blue;

}

.yellow {
    background-color: yellow;

}

.red {
    background-color: red;

}
